<p>
	Welcome to pdf conversion. Here I will be considering different cases of html like with images in it, with large number of records in a table.
</p>


<%= link_to 'html with table', html_with_table_path %>